.character-card {
  margin: 6%;
  cursor: pointer;
  background-color: transparent;
  height: 348px;
  perspective: 1000px;
}

.character-cards-list {
  text-align: left;
  font-family: 'Courier New', Courier, monospace !important;
}

.character-card h2 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.character-card li {
  list-style: none;
  padding-bottom: 10px;
}

.character-card-inner {
  position: relative;
  width: 300px;
  height: 348px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.character-card:active .character-card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  border-radius: 2%;
  color: white;
  transform: rotateY(180deg);
}

.avatar {
  border-radius: 2%;
  object-fit: cover;
}

.status-icon-alive {
  height: 0.7vw;
  width: 0.7vw;
  margin-right: 0.5vw;
  background-color: rgb(131, 235, 70);
  border-radius: 50%;
  display: inline-block;
}

.status-icon-dead {
  height: 0.7vw;
  width: 0.7vw;
  margin-right: 0.5vw;
  background-color: rgb(247, 7, 7);
  border-radius: 50%;
  display: inline-block;
}

.status-icon-unknown {
  height: 0.7vw;
  width: 0.7vw;
  margin-right: 0.5vw;
  background-color: rgb(247, 163, 7);
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 621px) {
  .avatar {
    width: 100%;
    height: 348px;
    object-fit: contain;
  }
}

/* FAVE */

.faved{
  color:  #fafaf7;
}

.unfaved{
  margin-right: 0px;
}
.faved:hover, .unfaved:hover, .more-info:hover {
  transform: scale(1.3);
}
.fave-btn{
  background: goldenrod;
  border: none;
  padding: 2px 2px;
  border-radius: 25px;
  color:  white;
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  font-size: larger;
  border-style: dotted;
  display: flex;
}

.unfave-btn{
  background: #181ed270;
  border-style: solid;
  padding: 2px 2px;
  border-radius: 25px;
  color:  #c9d5d7;;
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  font-size: larger;
  display: flex;
}
.card-buttom {
  height: 40px;
  background-color: #c8dd5d;
  border-radius: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 8px 8px;
  font-family: 'Courier New', Courier, monospace !important;
  
}

.front-name {
  margin-block-start: 0;
  margin-block-end: 0;
}

.more-info {
  font-size: x-large !important;
  color: #12b0c9;
}

.info-btn{
  border-style: solid;
  padding: 1px 2px;
  border-radius: 25px;
  color:  #c9d5d7;;
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  font-size: larger;
  display: flex;
  margin-left: 0.5rem;
}