.App {
  text-align: center;
}

body {
  background: #000 url('../public/background.png') no-repeat;
  background-attachment: fixed;
  font-family: 'Creepster', cursive;
}
.logo {
  margin-top: 1rem;
}

#title {
  color: #fff;
  font-size: xxx-large;
  margin: 1%;
}
