.App {
  text-align: center;
}

body {
  background: #000 url('../public/background.png') no-repeat;
  background-attachment: fixed;
  font-family: 'Creepster', cursive;
}
.logo {
  margin-top: 1rem;
}

#title,
#not-found,
#pages-title {
  color: #fff;
  font-size: xxx-large;
  margin: 1%;
}
#pages-title {
  color: #fff;
  font-size: 2vw;
  margin: 1%;
}

.search {
  height: 100px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  display: block;
  padding: 1vw;
  font-size: 100%;
  border: 1%;
  border-radius: 1vw;
  width: 60%;
  margin: 1%;
  outline: none;
  font-family: 'Creepster', cursive;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.selection {
  display: block;
  padding: 1vw;
  font-size: 100%;
  border: 1%;
  border-radius: 1vw;
  width: 15%;
  margin: 1%;
  outline: none;
  font-family: 'Creepster', cursive;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

.search-btn {
  display: block;
  padding: 1vw;
  font-size: 100%;
  border: 1%;
  border-radius: 1vw;
  width: 7%;
  margin: 1%;
  outline: none;
  font-family: 'Creepster', cursive;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}

.search-btn:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
  color: white;
}

.characters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 1601px) {
  .characters {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1460px) {
  .characters {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1230px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 621px) {
  .characters {
    grid-template-columns: 1fr;
  }
  #pages-title {
    font-size: 13vw;
  }
}

.pages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.btn {
  box-shadow: inset 0px 1px 18px 0px #000000;
  background: linear-gradient(to bottom, #12b0c9 5%, #c9d5d7 100%);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-left: 0.2vw;
}
.btn:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.btn:active {
  position: relative;
  top: 1px;
}
