.App {
  text-align: center;
}

.characters {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

}

.character-card {
  /* border-radius: 2%;
  perspective: 1000px; */
  margin: 6%;
  cursor: pointer;
  background-color: transparent;
  height: 300px;
}

.avatar {
  border-radius: 2%;
  width: 100%;
}

.character-card h2 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* .character-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */

.character-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.character-card:hover .character-card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  border-radius: 2%;
  color: white;
  transform: rotateY(180deg);
}

.character-card li {
  list-style: none;
  padding-bottom: 10px;
}