.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0a1d64a1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 80%;
    max-width: 500vw;
    border-radius: 11px;
    background-color: #333;
    color: white;
}

.c-info{ 
    display: flex;
}

li {
    list-style: none;
}

h2 {
    font-size: 25px;
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

/* .popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
} */